<!DOCTYPE html>
<html>
   <head>
    <title>Werk</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/server.js"></script>
   </head>
   <body>
     <header>
       <h1>Werk
         <small>Track productivity easy!</small>
       </h1>
     </header>
     <section>
       <div class="homebuttons">
         <a href="/login" id="login">
           <div id="loginButton">Login</div>
         </a>
         <a href="/signup" id="signup">
           <div id="signupButton">Sign Up</div>
         </a>
       </div>
     </section>
   </body>
</html>
