<!DOCTYPE html>
<html>
   <head>
      <title>Werk</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="../css/awesomplete.css" />
      <script src="../js/awesomplete.min.js" async></script>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="../css/style.css" />
      <script src="/socket.io/socket.io.js"></script>
      <script src="../js/client.js"></script>
   </head>
   <body>
     <header>
       <h1>Werk
         <small>Track productivity easy!</small>
       </h1>
     </header>

     <div id="taskBar">
       <div id="search">
         <input id="searchBar"/>
         <button id="submitSearch" class="btn btn-info">Search</button>
       </div>
       <div id="navigation">
         <ul class="nav nav-tabs">
           <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
           <li class="dropdown">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings
               <span class="caret"></span></a>
               <ul class="dropdown-menu">
                 <li><a href="#account">Account</a></li>
                 <li><a id="logout"><div id="logoutButton">Log Out</div></a></li>
               </ul>
             </li>
           </ul>
       </div>
     </div>
     <div class="tab-content">
       <div id="home" class="tab-pane fade in active">

       </div>
    </div>

   </body>
</html>
