/*------------- Reset browser differences ------------- */

* {
	padding: 0;
	margin: 0;
}
/* ------------ Body styles ------------ */

body {
	background-color: #f0f1f3;
	color:#667073;
	font: 16px/1.3 'Arial',sans-serif;
}
/* ------------ Header styles ------------ */

header {
  margin:30px;
  font: 30px/1.3 'Arial',sans-serif;
}

#infoHead{
  margin-bottom: 30px;
}

/* ------ Home ------ */

.homebuttons {
	text-align:center;
	margin-top:140px;
}

#login {
	width: 300px;
	height: 100px;
	background-color: #70b1d1;
	text-align:center;
	display: block;
	margin:0px auto;
	border-radius: 3px;
	box-shadow: 0px 5px 5px #e4e8e7;
	text-decoration: none;
	margin-bottom: 30px;
	color: #eeffff;
}
#login:visited {
	color: #eeffff;
	text-decoration: none;
}
#loginButton {
	padding-top: 30px;
}
#signup {
	width: 300px;
	height: 100px;
	background-color: #70b1d1;
	text-align:center;
	display: block;
	margin:0px auto;
	border-radius: 3px;
	box-shadow: 0px 5px 5px #e4e8e7;
	text-decoration: none;
	margin-bottom: 70px;
	color: #eeffff;
}
#signup:visited {
	color: #eeffff;
	text-decoration: none;
}
#signupButton {
	padding-top: 30px;
}
#guest {
	width: 300px;
	height: 100px;
	background-color: #70b1d1;
	text-align:center;
	display: block;
	margin:0px auto;
	border-radius: 3px;
	box-shadow: 0px 5px 5px #e4e8e7;
	text-decoration: none;
	margin-bottom: 70px;
	color: #eeffff;
}
#guest:visited {
	color: #eeffff;
	text-decoration: none;
}
#guestButton {
	padding-top: 30px;
}
/*#logout {
	float: right;
	width: 200px;
	height: 60px;
	background-color: #B34848;
	text-align:center;
	display: block;
	border-radius: 3px;
	box-shadow: 0px 5px 5px #e4e8e7;
	text-decoration: none;
	margin-bottom: 20px;
	color: #eeffff;
}
#logout:visited {
	color: #eeffff;
	text-decoration: none;
}
#logoutButton {
	padding-top: 20px;
}*/

/* ------ Login/Signup ------ */
#connect {
  text-align:center;
	display: block;
	margin:0px auto;
	width: 700px;
	height: 400px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	color: #637277;
}
#back{
  float: right;
	width: 70px;
	height: 40px;
	text-align:center;
	background-color: #D47373;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color:white;
	font-weight: bold;
	font-size: 15px;
  padding-top: 10px;
}
#infoConnect {
	text-align: left;
	float: right;
	margin: 80px 250px 0 0;
}
#yourName {
	float:left;
	padding-left:10px;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	margin-bottom:20px;
	overflow: hidden;
}

#yourPassword {
	float:left;
	padding-left: 10px;
	width: 200px;
	height: 30px;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow:0px 3px 3px #e3e4e6;
	margin-bottom:40px;
}

#yourEnter {
	float:left;
	width: 110px;
	height: 40px;
	text-align:center;
	background-color: #73b4d4;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color:white;
	font-weight: bold;
	font-size: 15px;
}

#taskBar{
	width: 100%;
}

#search{
	float: left;
	width: 80%;
	text-align: center;
	padding-top: 5px;
}
#navigation{
	float: right;
}
